
@import url('https://fonts.cdnfonts.com/css/hello-christmas');
        
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
}

.cusive-font {
  font-family: "Hello Christmas", sans-serif;
}

/* Ensure the wrapper fills the entire viewport */
html, body {
  height: 100%;
  margin: 0;
}

/* Use flexbox to stack the header, main, and footer vertically */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Ensure the main content area expands to fill the remaining space */
main {
  flex: 1;
}
