       
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/coral-colour');

@font-face {
  font-family: Hello-Christmas;
  src: url('/fonts/hello_christmas_6/Hello-Christmas.otf');
}

@font-face {
  font-family: Intro;
  src: url('/fonts/Intro-font/Intro.otf');
}

.display-font {
  font-family: Intro;
}

.cusive-font {
  font-family: Hello-Christmas;
}

.base-font {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}


/* Ensure the wrapper fills the entire viewport */
html, body {
  height: 100%;
  margin: 0;
}

/* Use flexbox to stack the header, main, and footer vertically */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Ensure the main content area expands to fill the remaining space */
main {
  flex: 1;
}

.home {
  background-image: url('/assets/img/background-images/home-bg-with-trp.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.login {
  background-image: url('/assets/img/background-images/login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.right-img {
  background-image: url('/assets/img/background-images/right-login-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.register {
  background-image: url('/assets/img/background-images/register-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.left-img {
  background-image: url('/assets/img/background-images/left-register-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
